@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root {
    --cor-primaria: #000000;
    --cor-secundaria:#F6F6F6;
    --cor-terciaria:#22D4FD;
    --cor-hover: ;
}
body{
    box-sizing: border-box;
    background-color:var(--cor-primaria);
    color: var(--cor-secundaria);
}
.cabecalho {
    padding: 2% 0% 0% 15%;
    display: flex;
      gap: 80px;
}
.cabecalho__menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cabecalho__menu__link {
    font-family: 'Montserrat', sans-serif;
      font-size: 1.5rem;
      font-weight: 600;
      color: var(--cor-terciaria);
        margin: 0 10px;
        padding: 5px 10px;
        text-decoration: none;
        padding: 10px 15px
    
}

.cabecalho__menu__link:hover {
    color: #007bff;
}
.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao{
    padding:  5% 16.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: var(--cor-secundaria);
}

.texto-destaque{
    color: var(--cor-terciaria);
}
.apresentacao__links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction:column;
    gap: 32px;

}

.apresentacao__links__subtitulo{
    font-family:'Krona One', sans-serif;
    font-weight: 400; 
    font-size:1.5rem;
}
.apresentacao__links__link {
    
    width: 60%;
    text-align: center;
    justify-content: center;
    gap: 16px;
    border: 2px solid #22D4FD;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color:var(--cor-secundaria);
    text-decoration: none;
    display: flex
}
.apresentacao__links__link:hover{
    cursor: pointer;
    background-color: #272727;
    border: 2px solid #0000FF
    
  
}
.apresentacao__imagem{
    width: 60%;
}

.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 24px;
}

@media (max-width: 1200px) {
    @media (max-width: 1200px) {
        .cabecalho {
            padding: 10%;
        }
        .cabecalho__menu{
            justify-content: center;
        }
    }
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
        
    }
    .apresentacao__conteudo {
        width: auto;
    }
}